#menu-button {
  @media (min-width: 992px) {
    .navbar-toggler {
      //display: block;
    }
  }

  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }

  .navbar-toggler {
    padding: 3px;
    font-size: 16px;
    border-color: #f0f3f4;
  }

  .navbar {
    padding: 0;
  }

  .menu-button-bar {
    display: flex;
    width: 20px;
    height: 3px;
    background-color: #f0f3f4;
    margin: 5px;
    border-radius: 5px;
  }

  .navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

.menu-container {
  background-color: white;
}

.navbar-container {
  display: inline-flex;
  position: relative;
  background-color: #f2f2f2;
  border: 1px solid #bbbbbb;
  margin-left: 0;
  left: 100%;
  transition: all 1s ease-in 100ms;
  width: 0;
}

.navbar-container:is(.column-4) {
  left: 0;
  width: 33.333333333%;
}
.navbar-container:not(.show) {
  overflow-x: hidden;
  transition: all 1s ease-out 0s;
}

.navbar-grid-effect {
  width: 100%;
  transition: all 1s ease-out 250ms;
}
.navbar-grid-effect:is(.grid-effect-show) {
  width: 66.66666667%;
  transition: all 1s ease-in 0s;
}

.column-8 {
  width: 66.66666667%;
}

.column-12 {
  width: 100%;
}

.show {

}

.menu-content {

}