@import "~@fontsource/roboto/100.css";
@import "~@fontsource/roboto/300.css";
@import "~@fontsource/roboto/400.css";
@import "~@fontsource/roboto/500.css";
@import "~@fontsource/roboto/700.css";
@import "~@fontsource/roboto/900.css";


body {
    font-family: "Roboto", sans-serif;
    font-size: rem(16px);
    background: #c2c7bf;
    overflow: hidden;
}


/*.content-background-color {
    !*background-color: rgb(13 16 21 / 80%);*!
    !* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#090d12+0,1c2f35+100 *!
    background: #090d12; !* Old browsers *!
    background: -moz-linear-gradient(27deg,  #090d12 0%, #1c2f35 100%); !* FF3.6-15 *!
    background: -webkit-linear-gradient(27deg,  #090d12 0%,#1c2f35 100%); !* Chrome10-25,Safari5.1-6 *!
    background: linear-gradient(27deg,  #090d12 0%,#1c2f35 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090d12', endColorstr='#1c2f35',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!

}

.content-box-shadow {
    -webkit-box-shadow: 0 80px 100px -10px #000000;
    box-shadow: 0 80px 100px -10px #000000;
}*/

.obit-controls-gizmo {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 1000;
    background-color: #FFF0;
    border-radius: 100%;
    transition: background-color .15s  linear;
    cursor: pointer;
}

.obit-controls-gizmo.dragging,
.obit-controls-gizmo:hover {
    background-color: #FFF3;
}

.obit-controls-gizmo.inactive {
    pointer-events: none;
    background-color: #FFF0  !important;
}

#mainContainer {
    overflow: hidden;
    touch-action: none;
}
.basicContainer {
    position: absolute;
    pointer-events: none;
}
.animateContainer {
    position: absolute;
    pointer-events: auto;
    user-select: none;
}

.debugContainer {
    width: 1600px;
    border: 1px solid red;
    height: 500px;
    left: 0;
    right: 0;
    top: 160px;
    position: absolute;

    margin-left: auto;
    margin-right: auto;
}
