@import "~@fontsource/roboto/100.css";
@import "~@fontsource/roboto/300.css";
@import "~@fontsource/roboto/400.css";
@import "~@fontsource/roboto/500.css";
@import "~@fontsource/roboto/700.css";
@import "~@fontsource/roboto/900.css";


body {
    font-family: "Roboto", sans-serif;
    font-size: rem(14px);
    background: rgb(109,122,96);
    background: linear-gradient(145deg, rgba(109,122,96,1) 0%, rgba(55,64,56,1) 50%, rgba(33,41,41,1) 100%);
}


.content-background-color {
    background-color: rgb(13 16 21 / 80%);
}

.content-box-shadow {
    -webkit-box-shadow: 0 80px 100px -10px #000000;
    box-shadow: 0 80px 100px -10px #000000;
}

#topLeft {
    position: fixed;
    top: 0;
}