{% extends 'html_header.html.twig' %}

{% block body %}
    {{ encore_entry_link_tags('css-flat') }}
    <div id="flat" data-controller="flat">
        <div class="nav-top d-flex justify-content-between sm-icons position-sticky z-1 top-0">
            <div class="col-3 margin-left mt-5">
                <div class="m-3 fs-4">
                    <a class="d-inline-block me-4" href="{{ path('index') }}">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                    <a class="d-inline-block" href="https://github.com/s-meiser" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a class="mx-2 d-inline-block" href="https://www.linkedin.com/in/sebastian-meiser/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a class="mx-2 d-inline-block" href="mailto:sebastian.meiser@gmail.com" target="_blank">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                </div>
            </div>

            <div class="col-3 margin-right mt-5">
                <div class="p-3 border ">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col text-uppercase text-end ">
                            Hi, my name is Sebastian
                        </div>
                        <div id="menu-button" class="d-flex col-2 text-end justify-content-end ">
                            <nav class="navbar" >
                                <button class="navbar-toggler"
                                        type="button"
                                        aria-label="Toggle navigation"
                                        data-action="click->flat#navbar"
                                >
                                    <div class="menu-button-bar"></div>
                                    <div class="menu-button-bar"></div>
                                    <div class="menu-button-bar"></div>
                                </button>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="flat" class="position-relative overflow-hidden">
            <div class="container-fluid content-container p-0 m-0">
                <div class="row p-0 m-0 ">
                    <div class="navbar-grid-effect">
                        <div class="container">
                            <section id="home" class="row">
                                    <div class="col ">
                                    </div>
                            </section>
                            <section id="about" class="row">
                                <div class="col">
                                </div>
                            </section>

                            <section id="work" class="row">
                                <div class="col">
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="navbar-container p-0 m-0 h-100">
                        <div class="menu-container col">
                            <ul class="navbar-nav fs-4 fw-medium"
                                data-action="click->flat#navLink">
                                <li class="nav-item">
                                    <a class="nav-link active" data-href="#home" aria-current="page">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-href="#about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-href="#work">Work</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-href="#contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('flat') }}
{% endblock %}