{% extends 'html_header.html.twig' %}

{% block body %}
    {{ encore_entry_link_tags('css-flat') }}
    <div id="flat" data-controller="flat">
        <div class="nav-top d-flex justify-content-between sm-icons position-sticky z-1 top-0">
            <div class="col-3 margin-left mt-5">
                <div class="m-3 fs-4 sm-icon-container">
                    <a class="d-inline-block me-4 back-button" href="{{ path('index') }}">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                    <a class="d-inline-block github" href="https://github.com/s-meiser" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a class="mx-2 d-inline-block linkedin" href="https://www.linkedin.com/in/sebastian-meiser/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a class="mx-2 d-inline-block e-mail" href="mailto:sebastian.meiser@gmail.com" target="_blank">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-3 margin-right mt-5">
                <div class="p-3 border ">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col text-uppercase text-end">
                            I'am the menu, click on me
                        </div>
                        <div id="menu-button" class="ms-2">
                            <nav class="navbar" >
                                <button class="navbar-toggler"
                                        type="button"
                                        aria-label="Toggle navigation"
                                        data-action="click->flat#navbar"
                                >
                                    <div class="menu-button-bar"></div>
                                    <div class="menu-button-bar"></div>
                                    <div class="menu-button-bar"></div>
                                </button>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="flat" class="position-relative overflow-hidden">
            <div class="container-fluid content-container p-0 m-0">
                <div class="row p-0 m-0 ">
                    <div class="navbar-grid-effect">
                        <div class="container nav-top-height">
                            <section id="home" class="row ">
                                <div class="col ">
                                    <h1> Hi, my name is Sebastian</h1>
                                    <p class="fs-4">and I love programming</p>
                                </div>
                                <div class="col position-relative monacoBoxColumn">
                                    <div id="monacoBox" class="border border-1 rounded"></div>
                                </div>
                                <div class="w-100"></div>

                                <div class="col position-absolute git-line-container ps-4">
                                    <div class="d-flex flex-column events-none position-relative dvh-100">
                                        <div class="mx-auto">
                                            <div class="d-inline-block rounded-5 p-2 git-line-entry-point"></div>
                                        </div>
                                        <div class="git-line-bg rounded mx-auto"></div>

                                        <div class="mx-auto my-3 home-campaign-glowing-icon">
                                            <div class="position-relative d-inline-block z-1">
                                                <svg aria-hidden="true" height="24" viewBox="0 0 24 24" version="1.1" width="24" data-view-component="true" class="octicon octicon-code">
                                                    <path d="M15.22 4.97a.75.75 0 0 1 1.06 0l6.5 6.5a.75.75 0 0 1 0 1.06l-6.5 6.5a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L21.19 12l-5.97-5.97a.75.75 0 0 1 0-1.06Zm-6.44 0a.75.75 0 0 1 0 1.06L2.81 12l5.97 5.97a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-6.5-6.5a.75.75 0 0 1 0-1.06l6.5-6.5a.75.75 0 0 1 1.06 0Z"></path>
                                                </svg>
                                                <span class="position-absolute left-0 top-0 height-full width-full home-campaign-glowing-icon-glow circle z-n1" style="background-color: var(--mktg-accent-primary); filter: blur(18px);"></span>
                                            </div>
                                        </div>

                                        <div style="background: linear-gradient(#7C72FF, #2DA44E 80%, #3FB950);" class="home-campaign-git-line height-full rounded mx-auto"></div>
                                    </div>
                                </div>

                            </section>





                            <section id="about" class="row">
                                <div class="col">
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                    <p>much more content</p>
                                </div>
                            </section>

                            <section id="work" class="row">
                                <div class="col">
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="navbar-container p-0 m-0 h-100">
                        <div class="menu-container col">
                            <ul class="navbar-nav fs-4 fw-medium"
                                data-action="click->flat#navLink">
                                <li class="nav-item">
                                    <a class="nav-link active" data-href="#home" aria-current="page">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-href="#about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-href="#work">Work</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-href="#contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('flat') }}
{% endblock %}