<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Sebastian Meiser| Web Developer{% endblock %}</title>
	<link rel="icon" href="/build/images/favicon.svg">

	{% block stylesheets %}
		{{ encore_entry_link_tags('bootstrap-framework') }}
		{{ encore_entry_link_tags('css-theme-default') }}
	{% endblock %}

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}

		<!-- Renders app.js & a webpack runtime.js file
			<script src="/build/runtime.js" defer></script>
			<script src="/build/app.js" defer></script>
			See note below about the "defer" attribute -->

	{% endblock %}
</head>
<body>

<!-- Body content -->
{#<div class="debugContainer"><h1 class="text-white">test</h1></div>#}
<div class="container position-absolute">
	<div class="col-1 row vh-100 rounded-4 content-background-color content-box-shadow">
		<div class="col-1 text-white">
			Das ist ein test
		</div>
	</div>
</div>

<div id="mainContainer">
	{% block body %}{% endblock %}
{#	<div id="three-content" class="row h-100 rounded-4 content-background-color content-box-shadow">

	</div>#}
</div>

<script type="x-shader/x-vertex" id="vertexshader">

			varying vec2 vUv;

			void main() {

				vUv = uv;

				gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

			}

		</script>

<script type="x-shader/x-fragment" id="fragmentshader">

			uniform sampler2D baseTexture;
			uniform sampler2D bloomTexture;

			varying vec2 vUv;

			void main() {

				gl_FragColor = ( texture2D( baseTexture, vUv ) + vec4( 1.0 ) * texture2D( bloomTexture, vUv ) );

			}

		</script>

</body>
</html>
