{% extends 'html_header.html.twig' %}

{% block body %}

	<div data-controller="landingpage"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('Landingpage') }}
{% endblock %}