{% extends 'html_header.html.twig' %}

{% block body %}
	<div class="modal-reload">
		<div class="modal-reload-content">
			<p>Das Seitenverhältnis ihres Bildschirm hat sich geändert, bitte laden Sie die Seite neu ...</p>
			<button type="button" class="btn btn-refresh" onclick="location.reload();">Refresh</button>
		</div>
	</div>

	<div class="mobileControls">
		<div class="pan">
			<div id="pan-circle">
				<div class="touch-circle"></div>
			</div>
		</div>
		<div class="rotate"></div>
		<div class="zoom"></div>
		<div class="scroll"></div>
	</div>

	<div class="cameraContainer">
		<div class="domContainer content-menu">
			<div class="text-white">
				Menü
			</div>
		</div>
{#		<div class="domContainer content-1">
			<div class="text-white">
				<div class="">
					Das ist ein tesasdasdast<br>
					<a href="https://www.google.de">Google Link</a>
				</div>
				<div class="hexagon">another div block</div>
			</div>
		</div>#}

{#		<div class="domContainer content-2">
			<div class="text-white">
				<div class="">
					jhhgjääghjäghjä<br>
					<a href="https://www.google.de">sdfsdf</a>
				</div>
				<div class="hex"></div>
			</div>
		</div>#}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('Landingpage') }}
{% endblock %}