{% extends 'html_header.html.twig' %}

{% block body %}
	<div class="">
		Landingpage

	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('landingpage') }}
{% endblock %}