{% extends 'html_header.html.twig' %}

{% block body %}
	<div class="cameraContainer">
		<div class="domContainer">
			<div class="text-white">
				<div class="">
					Das ist ein tesasdasdast<br>
					<a href="https://www.google.de">Google Link</a>
				</div>
				<div>another div block</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('Landingpage') }}
{% endblock %}