{% extends 'html_header.html.twig' %}

{% block body %}
	<div data-controller="threeDimensional"></div>
	<div id="mainContainer" class="overlay">
		<div id="versionNotification" class="toast darkToast ms-2 mt-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
			<div class="toast-header">
				<strong class="me-auto">Version</strong>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div class="toast-body">
				Preview
			</div>
		</div>
	</div>

	<div class="loader-container">
		<div class="loader-text">Sebastian Meiser</div>
		<div class="loader-animation">
			<div class="loading-bar-left"></div>
			<div class="loading-bar-right"></div>
		</div>

	</div>

	<div class="mobileControls">
		<div class="pan">
			<div id="pan-circle">
				<div class="touch-circle"></div>
			</div>
		</div>
	</div>

	<div class="control-instructions">
		<div class="panning">
			<!--Use the joystick to move-->
			<span>Verwenden Sie den Joystick zum scrollen</span>
			<div class="fingerAnimation">
				<div class="touch-circle"></div>
				<img src="/build/images/1-finger.svg">
			</div>
		</div>
	</div>

{#	<div class="control-instructions-zooming">
		<!--Pinch in and out to adjust camera distance-->
		<span>2 Finger zum zoomen/vergrößern</span>
	</div>
	<div class="control-instructions-rotate">
		<!--1 finger rotation to adjust the camera angle-->
		<span>1 Finger zum rotieren (Kamerawinkel)</span>
	</div>#}

{#	<div class="rotate">
		<div id="rotate-circle">
			<div class="touch-rotate"></div>
		</div>
	</div>
	<div class="zoom"></div>#}

	<div class="cameraContainer">
		<div class="domContainer content-subject">
			<div class="text-white" style="width: 800px">
				<p class="fs-1 ap-1">Hi, my name is Sebastian</p>
				<p class="fs-4 ap-2 ">and I love programming</p>
				<p class="fs-5 mt-5 ap-3">Sadly, this website is not finished yet. I'm trying to hurry ;)</p>
				<p class="fs-6 mt-2 ap-4">But I will give you some information about this site and how to use it</p>
				<div class="fs-6 ap-5">
					<ul>
						<li>Build with Three.js</li>
						<ul>
							<li><code>Three.js is a cross-browser JavaScript library and application programming interface (API) used to create and display animated 3D computer graphics in a web browser using WebGL</code></li>
						</ul>
						<li>To move around the website
							<ul>
								<li>you can scroll to change to zoom like google maps</li>
								<li>rotate with the left mouse button pressed</li>
								<li>or move with the right mouse button pressed</li>
							</ul>
						</li>
					</ul>
				</div>
				<a href="{{ path('index') }}">
					<button class="btn btn-orange py-2 fs-5 fw-bold mt-4 rounded-5 px-4 ap-6">Get in touch</button>
				</a>
			</div>
		</div>

		<div class="domContainer credit-tree">
			<div class="credit-box">
				<a href="https://skfb.ly/6QWJM">TreeA</a> by BotondBencsik
				is licensed under
				<a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>
			</div>
		</div>

		<div class="domContainer credit-stone">
			<div class="credit-box">
				<a href="https://skfb.ly/688pC">Granite stone brown 02</a> by 3dhdscan
				is licensed under
				<a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>
			</div>
		</div>

		<div class="domContainer credit-grass">
			<div class="credit-box">
				<a href="https://skfb.ly/6TQw7">Grass</a> by Fred Drabble
				is licensed under
				<a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>
			</div>
		</div>

		<div class="domContainer credit-sign">
			<div class="credit-box">
				<a href="https://skfb.ly/6SN7B">A Welcoming Sign</a> by Raneman
				is licensed under
				<a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>
			</div>
		</div>

	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('threeDimensional') }}
{% endblock %}